{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.internal %}
    <a class="action" href="{{ url_for('public.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {# read users #}
  {% for user in read_users %}
    <article class="read_user">
      <header>
        <div>
          <h1>{{ user['id'] }}</h1>
          <div class="about">by {{ user['username'] }} }</div>
        </div>

      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}


{% endblock %}


