{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}System Users{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('admin.uploaderRegister') }}">Nuevo uploader</a>
    <a class="action" href="{{ url_for('admin.viewerRegister') }}">Nuevo viewer</a>
    <a class="action" href="{{ url_for('admin.adminRegister') }}">Nuevo administrador</a>
    <a class="action" href="{{ url_for('admin.uploadLocation') }}">Nueva ubicacion</a>
    <a class="action" href="{{ url_for('admin.locations') }}">Ubicaciones</a>
  {% endif %}
{% endblock %}

{% block content %}
  {# read users #}
  {% for user in users %}
    <article class="read_user">
      <header>
        <div>
          <h1>{{ user['username'] }}</h1>
          <div class="about">{{ user['type']}}</div>
        </div>

      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}



{% endblock %}


