{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload file{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <h1>Formulario de Carga Diaria</h1>
    <form method="post">
      <label for="centroSalud">Centro de Salud</label>
      <input name="centroSalud" id="centroSalud" value="{{ request.form['centroSalud'] }}" required>

      <label for="fecha">Fecha</label>
      <input name="fecha" id="fecha" value="{{ request.form['fecha'] }}" required>

      <label for="respiradoresDisponibles">Respiradores disponibles</label>
      <input name="respiradoresDisponibles" id="respiradoresDisponibles" value="{{ request.form['respiradoresDisponibles'] }}" required>

      <label for="respiradoresOcupados">Respiradores ocupados</label>
      <input name="respiradoresOcupados" id="respiradoresOcupados" value="{{ request.form['respiradoresOcupados'] }}" required>

      <label for="camasUTIDisponibles">Camas de Unidad de Terapia Intensiva disponibles</label>
      <input name="camasUTIDisponibles" id="camasUTIDisponibles" value="{{ request.form['camasUTIDisponibles'] }}" required>

      <label for="camasUTIOcupadas">Camas de Unidad de Terapia Intensiva ocupadas</label>
      <input name="camasUTIOcupadas" id="camasUTIOcupadas" value="{{ request.form['camasUTIOcupadas'] }}" required>

      <label for="camasGCDisponibles">Camas con gases centrales disponibles</label>
      <input name="camasGCDisponibles" id="camasGCDisponibles" value="{{ request.form['camasGCDisponibles'] }}" required>

      <label for="camasGCOcupadas">Camas con gases centrales ocupadas</label>
      <input name="camasGCOcupadas" id="camasGCOcupadas" value="{{ request.form['camasGCOcupadas'] }}" required>

      <label for="pacientesAltaUTI">Pacientes dados de alta de la Unidad de Terapia Intensiva</label>
      <input name="pacientesAltaUTI" id="pacientesAltaUTI" value="{{ request.form['pacientesAltaUTI'] }}" required>

      <label for="pacientesCovidAltaUTI">Pacientes con COVID dados de alta de la Unidad de Terapia Intensiva</label>
      <input name="pacientesCovidAltaUTI" id="pacientesCovidAltaUTI" value="{{ request.form['pacientesCovidAltaUTI'] }}" required>

      <label for="pacientesFallecidosUTI">Pacientes fallecidos de la Unidad de Terapia Intensiva</label>
      <input name="pacientesFallecidosUTI" id="pacientesFallecidosUTI" value="{{ request.form['pacientesFallecidosUTI'] }}" required>

      <label for="pacientesCovidFallecidosUTI">Pacientes con COVID fallecidos de la Unidad de Terapia Intensiva</label>
      <input name="pacientesCovidFallecidosUTI" id="pacientesCovidFallecidosUTI" value="{{ request.form['pacientesCovidFallecidosUTI'] }}" required>

      <label for="pacientesCovidDerivadosUTI">Pacientes con COVID derivados en la Unidad de Terapia Intensiva</label>
      <input name="pacientesCovidDerivadosUTI" id="pacientesCovidDerivadosUTI" value="{{ request.form['pacientesCovidDerivadosUTI'] }}" required>

      <label for="pacientesDerivadosUTI">Pacientes derivados en la Unidad de Terapia Intensiva</label>
      <input name="pacientesDerivadosUTI" id="pacientesDerivadosUTI" value="{{ request.form['pacientesDerivadosUTI'] }}" required>

      <input type="submit" value="Save">
    </form>
{% endblock %}
