{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Estado Pacientes{% endblock %}</h1>

{% endblock %}

{% block content %}
  {% for paciente in pacientes %}
    <article class="paciente">
      <header>
        <div>
          <h1>{{ paciente['dni'] }}</h1>
          <div class="about">Nombre: {{ paciente['nombre']}}</div>
          <div class="about">Apellido:  {{ paciente['apellido']}}</div>
          <div class="about">Estado:  {{ paciente['estado']}}</div>
        </div>

      </header>
    </article>

    <hr>

  {% endfor %}

  <form method="post">
    <input type=submit name=submitButton value='Finalizar'>
  </form>


{% endblock %}


