{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="centroSalud">Centro de Salud</label>
    <select type="centroSalud" name="centroSalud" id=centroSalud required>
        {%for centro in centros%}
            <option value= "{{centro['nombre']}}" >{{centro['nombre']}}, {{centro['ciudad']}} </option>
        {%endfor%}
    </select>

    <label for="fecha">Fecha</label>
    <input name="fecha" id="fecha" value="{{ request.form['fecha'] }}" required>

    <label for="respiradoresDisponibles">Respiradores disponibles</label>
    <input name="respiradoresDisponibles" id="respiradoresDisponibles" value="{{ request.form['respiradoresDisponibles'] }}" required>

    <label for="respiradoresOcupados">Respiradores ocupados</label>
    <input name="respiradoresOcupados" id="respiradoresOcupados" value="{{ request.form['respiradoresOcupados'] }}" required>

    <label for="camasUTIDisponibles">Camas de Unidad de Terapia Intensiva disponibles</label>
    <input name="camasUTIDisponibles" id="camasUTIDisponibles" value="{{ request.form['camasUTIDisponibles'] }}" required>

    <label for="camasUTIOcupadas">Camas de Unidad de Terapia Intensiva ocupadas</label>
    <input name="camasUTIOcupadas" id="camasUTIOcupadas" value="{{ request.form['camasUTIOcupadas'] }}" required>

    <label for="camasGCDisponibles">Camas con gases centrales disponibles</label>
    <input name="camasGCDisponibles" id="camasGCDisponibles" value="{{ request.form['camasGCDisponibles'] }}" required>

    <label for="camasGCOcupadas">Camas con gases centrales ocupadas</label>
    <input name="camasGCOcupadas" id="camasGCOcupadas" value="{{ request.form['camasGCOcupadas'] }}" required>

    <label for="pacientesAltaUTI">Pacientes dados de alta de la Unidad de Terapia Intensiva</label>
    <input name="pacientesAltaUTI" id="pacientesAltaUTI" value="{{ request.form['pacientesAltaUTI'] }}">

    <label for="pacientesCovidAltaUTI">Pacientes con COVID dados de alta de la Unidad de Terapia Intensiva</label>
    <input name="pacientesCovidAltaUTI" id="pacientesCovidAltaUTI" value="{{ request.form['pacientesCovidAltaUTI'] }}">

    <label for="pacientesFallecidosUTI">Pacientes fallecidos de la Unidad de Terapia Intensiva</label>
    <input name="pacientesFallecidosUTI" id="pacientesFallecidosUTI" value="{{ request.form['pacientesFallecidosUTI'] }}">

    <label for="pacientesCovidFallecidosUTI">Pacientes con COVID fallecidos de la Unidad de Terapia Intensiva</label>
    <input name="pacientesCovidFallecidosUTI" id="pacientesCovidFallecidosUTI" value="{{ request.form['pacientesCovidFallecidosUTI'] }}">

    <label for="pacientesCovidDerivadosUTI">Pacientes con COVID derivados en la Unidad de Terapia Intensiva</label>
    <input name="pacientesCovidDerivadosUTI" id="pacientesCovidDerivadosUTI" value="{{ request.form['pacientesCovidDerivadosUTI'] }}">

    <label for="pacientesDerivadosUTI">Pacientes derivados en la Unidad de Terapia Intensiva</label>
    <input name="pacientesDerivadosUTI" id="pacientesDerivadosUTI" value="{{ request.form['pacientesDerivadosUTI'] }}">

    <input type="submit" value="Save">
  </form>
{% endblock %}
